# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/2025-05-27/Singleton/bin
/2025-05-27/Singleton/obj
/2025-05-27/Esercizio1Singleton/obj
/2025-05-27/Esercizio1Singleton/bin
/2025-05-27/Esercizio2Singleton/bin
/2025-05-27/Esercizio2Singleton/obj
/2025-05-28/Esercizio1Singleton/bin
/2025-05-28/Esercizio1Singleton/obj
/2025-05-28/Factory/obj
/2025-05-28/Factory/bin
/2025-05-28/Esercizio1Factory/obj
/2025-05-28/Esercizio1Factory/bin
/2025-05-28/Esercizio2Factory/bin
/2025-05-28/Esercizio2Factory/obj
/2025-05-28/Esercizio3SingleAndFact/bin
/2025-05-28/Esercizio3SingleAndFact/obj
/2025-05-29/Esercizio1Observer/bin
/2025-05-29/Esercizio1Observer/obj
/2025-05-29/Observer/bin
/2025-05-29/Observer/obj
/2025-05-29/Esercizio2Observer/bin
/2025-05-29/Esercizio2Observer/obj
/2025-05-29/Esercizio3Observer/bin
/2025-05-29/Esercizio3Observer/obj
/2025-05-13/obj
/2025-05-14/obj
/2025-05-15/obj
/2025-05-16/obj
/2025-05-19/ClassiEOggetti/obj
/2025-05-19/Operazioni/obj
/2025-05-21/Ereditarietà/obj
/2025-05-21/Esercizio1/obj
/2025-05-21/Esercizio2/obj
/2025-05-22/Esercizio1Incaps/obj
/2025-05-22/Esercizio2Incaps/obj
/2025-05-22/Esercizio3Soldato/obj
/2025-05-22/Incapsulamento/obj
/2025-05-22/Polimorfismo/obj
/2025-05-23/Esercizio1Veicoli/obj
/2025-05-23/Esercizio2Operatore/obj
/2025-05-23/Overloading/obj
/2025-05-23/Test1/obj
/2025-05-23/Test2/obj
/2025-05-26/Astrazione/obj
/2025-05-26/Esercizio1Astra/obj
/2025-05-26/Esercizio2Astra/obj
/2025-05-29/Decorator/bin
/2025-05-29/Decorator/obj
/2025-05-29/Esercizio1Decorator/bin
/2025-05-29/Esercizio1Decorator/obj
/2025-05-29/Esercizio2Decorator/bin
/2025-05-29/Esercizio2Decorator/obj
/2025-05-30/Esercizio1Strategy/bin
/2025-05-30/Esercizio1Strategy/obj
/2025-05-30/Strategy/bin
/2025-05-30/Strategy/obj
/.vscode
/2025-05-30/Esercizio2Strategy/bin
/2025-05-30/Esercizio2Strategy/obj
/2025-05-30/Test1/obj
